.table {
    display: block!important;
    margin-bottom: 0 !important;
}

div.w {
  position: relative;
  max-width: 670px;
  margin: 0 auto;
}

div.reservation {
  margin: 16px 0;
}

div.reservation div.time-list {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
}

div.reservation div.time-list .time-slot {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  /*background-color: #d8d8d8;*/
  border-radius: 4px;
  text-align: center;
  text-decoration: none!important;
    line-height: 21px!important;
  /*margin: 15px 6px;*/
}

div.reservation div.time-list .time-slot .selected {
  background-color: #c50909!important;
}

div.reservation div.time-list .available {
  background-color: #49c200;
}

.discount.available.slot.active {
  background: orange;
}

.available.slot.active {
  font-size: 17px;
}

.slot.unavailable {
  background: #d8d8d8;
}

.today .time-slot .slot {
  color: gray;
}

.schedule-table .time-slot .slot {
  user-select: none!important;
}

.today .time-slot .slot .slot-gray-free {
  color: #232323;
}

.today .time-slot .dots .dot-availability .red-taken {
  background-color: #232323;
}

.available.moto.active.slot {
  background: #317b04!important;
}

.slot span {
  font-size: 13px;
}

.slot .time-span {
  font-size: 16px;
}

.dot-availability {
  width: 15px;
}

.text-center {
  text-align: center !important;
}

.dot.red {
  background-color: lightgrey;
  color: lightgrey;
}

.dot.green {
  background-color: #4cbb6c;
  color: #4cbb6c;
}

.dot.orange {
  background-color: orange;
  border-color: #a16800;
}

.dot.transparent {
  background-color: transparent;
  border-color: transparent;
}

.dot {
  height: 11px;
  width: 11px;
  /* background-color: #4cbb6c; */
  border-radius: 50%;
  display: inline-block;
  /*margin-left: 7px;*/
  margin-bottom: 8px;
  /*margin-right: 6px;*/
  border: 1px solid #00000045;
}

.dots {
  margin-top: 4px;
  cursor: default;
  user-select: none;
}

.dot .sort-order {
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.time-slot .conditioner {
  background: #37b2ff!important;
}

.time-slot .unavailable.conditioner, .time-slot .unavailable.moto {
    background: #d8d8d8!important;
}

@media only screen and (max-width: 600px) {
  div.reservation div.time-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  div.reservation div.time-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
